db.sqlite3
.venv/
language_cards/__pycache__/
.idea/
core/__pycache__/
core/migrations/__pycache__/__init__.cpython-38.pyc
core/migrations/__pycache__/
core/lib/__pycache__/__init__.cpython-310.pyc
core/lib/__pycache__/word_ids.cpython-310.pyc
staticfiles/
core/lib/__pycache__/gtts_audio.cpython-310.pyc
core/lib/__pycache__/audio.cpython-310.pyc
credentials.json
venv/
core/lib/__pycache__/generate_audio.cpython-310.pyc
media/core/lib/__pycache__/remove_file.cpython-310.pyc
core/lib/__pycache__/remove_file.cpython-310.pyc
core/lib/__pycache__/audio_file_path.cpython-310.pyc
core/lib/__pycache__/remove_from_gcs.cpython-310.pyc
core/templatetags/__pycache__/
core/templatetags/__pycache__/__init__.cpython-310.pyc
core/templatetags/__pycache__/full_audio_path_tag.cpython-310.pyc
core/lib/__pycache__/__init__.cpython-312.pyc
core/lib/__pycache__/audio_file_path.cpython-312.pyc
core/lib/__pycache__/generate_audio.cpython-312.pyc
core/lib/__pycache__/remove_file.cpython-312.pyc
core/lib/__pycache__/word_ids.cpython-312.pyc
core/lib/__pycache__/remove_from_gcs.cpython-312.pyc
core/lib/__pycache__/translate_text.cpython-310.pyc
core/lib/__pycache__/translate_text.cpython-312.pyc
core/lib/__pycache__/next_list_item.cpython-312.pyc