db.sqlite3
.venv/
language_cards/__pycache__/
.idea/
core/__pycache__/
core/migrations/__pycache__/__init__.cpython-38.pyc
core/migrations/__pycache__/
core/lib/__pycache__/__init__.cpython-310.pyc
core/lib/__pycache__/word_ids.cpython-310.pyc
staticfiles/
core/lib/__pycache__/gtts_audio.cpython-310.pyc
