<div id="card" class="block">
    <div id="word" class="cardRow">
            <h1><span>{{ word.word }}</span></h1>
    </div>
    <div id="translated" class="hiddenDiv cardRow">
            <span>{{ word.translation }}</span>
    </div>
    <div  class="cardRow">
        <audio controls src="/media/{{ word.audio_url }}"></audio>
    </div>
        <div id="sentence" class="hiddenDiv cardRow">
            <span>{{ word.sentence }}</span>
        </div>
    <div class="cardRow">
        <input id="guess" name="guess" type="text"  class="form-control">
    </div>

    <div class="cardRow">
        {% if word_ids|length > 0 %}
                <a href="/learn_word/en-ru/{{ next_id }}">
                    <button type="button" id="nextButton" class="btn btn-light">next</button>
                </a>
        {% endif %}

        <button type="button" id="checkButton"  class="btn btn-primary">check</button>
    </div>

    <div id="wordResult" class="cardRow"></div>
</div>