{% load full_audio_path_tag %}
{% load static %}

<div id="card" class="block">
    <!--    word in RU-->
    <div id="word" class="cardRow">
            <h1><span>{{ word.translation }}</span></h1>
    </div>

    <!--    word in EN-->
    <div id="translated" class="hiddenDiv cardRow">
            <span>{{ word.word }}</span>
    </div>

    <!--    audio track-->
    <div id="en_audio" class="hiddenDiv cardRow">
        <audio controls src="{% full_audio_word_path word %}"></audio>
    </div>

    <!--    sentence example-->
    <div id="sentence" class="hiddenDiv cardRow">
	    <!-- this is the hidden audio tag which start playing audio 
		    after clicking on image with id "playBtnSentence" -->
        <audio id="sentenceAudio" 
	       controls 
	       src="{% full_audio_sentence_path word %}" hidden>
	</audio>
	<!-- this image is used as clicking button to play the "sentence" audio -->
	<img id="playBtnSentence"
	     src="/static/core/images/play.svg" 
	     height="20px" 
	     alt="play button">
        <span>
            {{ word.sentence }}
        </span>
    </div>

    <!--    input field-->
    <div class="cardRow">
        <input id="guess" name="guess" type="text" class="form-control">
    </div>

    <!--    buttons block "next" and "check"-->
    <h1  class="cardRow">
        <!--        "next" button-->
        {% if ids|length > 0 and next_id %}
            <a href="/native_to_studying/{{ next_id }}">
                <button type="button" id="nextButton" class="btn btn-light">next</button>
            </a>
        {% endif %}

        <!--        "check" button-->
        {% csrf_token %}
        <button type="button" id="checkButton"  class="btn btn-primary">check</button>
         <!-- finish button -->
        {% include 'snippets/finish_button.html' %}
    </h1>

    <div id="wordResult" class="redText"></div>
</div>

{% block js %}
    <script src="{% static 'core/js/native_studying_card.js' %}"></script>
{% endblock %}
