<div id="card" class="block">
    <!--    word in RU-->
    <div id="word" class="cardRow">
            <h1><span>{{ word.translation }}</span></h1>
    </div>

    <!--    word in EN-->
    <div id="translated" class="hiddenDiv cardRow">
            <span>{{ word.word }}</span>
    </div>

    <!--    audio track-->
    <div id="en_audio" class="hiddenDiv cardRow">
        <audio controls src="/media/{{ word.audio_url }}"></audio>
    </div>

    <!--    sentence example-->
    <div id="sentence" class="hiddenDiv cardRow">
        <span>{{ word.sentence }}</span>
    </div>

    <!--    input field-->
    <div class="cardRow">
        <input id="guess" name="guess" type="text" class="form-control">
    </div>

    <!--    buttons block "next" and "check"-->
    <h1  class="cardRow">
        <!--        "next" button-->
        {% if word_ids|length > 0 %}
            <a href="/learn_word/ru-en/{{ next_id }}">
                <button type="button" id="nextButton" class="btn btn-light">next</button>
            </a>
        {% endif %}

        <!--        "check" button-->
        {% csrf_token %}
        <button type="button" id="checkButton"  class="btn btn-primary">check</button>
    </h1>

    <div id="wordResult" class="redText"></div>
</div>