 a {
    color: red;
    text-decoration: none;
 }

 .hiddenDiv {
    display: none;
 }

 .shownDiv {
    display: block;
 }

 .cardRow {
    padding-bottom: 25px;
 }

 .redText {
    color: red;
 }

 .greenText {
    color: green;
 }

#sentence {
    font-style: italic;
}

input {
    text-align: center;
}

#playBtnSentence {
    cursor: pointer;
 }
