{% extends 'base.html' %}

{% load static %}

{% block css %}
        <link rel="stylesheet" href="{% static 'core/css/add_word.css' %}">
{% endblock css %}

<title>{% block title %}add word{% endblock %}</title>

{% block content %}
    <div class="container">
        <br>
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post"> {% csrf_token %}
		<!-- this hidden input is used only to sent specific data to add_word.js -->
		<input type="hidden" id="sl" 
			data-sl-full={{ sl_full }} 
			data-sl-short={{ sl_short }} 
			data-auth_token={{ auth_token }}>
                
		<div class="col cardRow">
                    {{ form.word.label }}
                    {{ form.word }}
                </div>

                <div class="col cardRow">
                    {{ form.translation.label }}
                    {{ form.translation }}
                </div>

                <div class="col cardRow">
                    {{ form.sentence.label }}
                    {{ form.sentence }}
                </div>

            <button type="submit" class="btn btn-primary" id="add_button">add</button>
        </form>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'core/js/add_word.js' %}"></script>
{% endblock js %}
