<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--        to use bootstrap-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">

        <!--        load static to use favicon-->
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'core/images/favicon.png' %}" >

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!--   you can override title in each page -->
        <title>{% block title %}language cards{% endblock title %}</title>

        <!--       you can connect your css files here-->
        {% block css %}{% endblock %}
    </head>
    <body>
        <header>
            <!--            navigation bar -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">Learning cards</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                      <!--        authentication authorization block -->
                      {% if user.is_authenticated %}
                            <!--                      show menu items if user authenticated -->
                            <li class="nav-item"><a class="nav-link" href="/profile">{{ user.username }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="/words">words</a></li>
                      {% endif %}
                  </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                            <!--                       show sign out if user signed in-->
                            <li class="nav-item"><a class="nav-link" href="/signout"
                               onclick="return confirm('Are you sure want to sign out?')">Sign out</a></li>
                        {% else %}
                             <!--                      show "sign up" and "sign in" if user hasn't authenticated-->
                            <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signin">Sign in</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
              </div>
            </nav>

              <!--            block for instant messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </header>

        <!--    content of each page -->
        {% block content %}{% endblock %}

        <!--    block for JavaScript-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
        {% block js %}{% endblock %}
    </body>
</html>