{% extends 'base.html' %}

{% load static %}

{% block css %}
        <link rel="stylesheet" href="{% static 'core/add_word.css' %}">
{% endblock css %}

<title>{% block title %}edit word{% endblock %}</title>

{% block content %}
    <div class="container">
        <br>
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post"> {% csrf_token %}
		<input type="hidden" id="sl" data-sl-full={{ sl_full }} data-sl-short={{ sl_short }}>
                
		<div class="col cardRow">
                    {{ form.word.label }}
                    {{ form.word }}
                </div>

                <div class="col cardRow">
                    {{ form.translation.label }}
                    {{ form.translation }}
                </div>

                <div class="col cardRow">
                    {{ form.sentence.label }}
                    {{ form.sentence }}
                </div>

            <button type="submit" class="btn btn-primary" id="update_button">update</button>
        </form>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'core/add_word.js' %}"></script>
    <script src="{% static 'core/edit_word.js' %}"></script>
{% endblock js %}
