<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
  {% if user.is_authenticated %}
      <p>
          <a href="/profile">{{ user.username }}</a>|
          <a href="/words">words</a>
          <a href="/signout">Sign out</a>
      </p>
  {% else %}
      <p>
        <a href="/signup">Sign up</a>|
        <a href="/signin">Sign in</a>
      </p>
  {% endif %}


  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
    has been the industry's standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged.
    It was popularised in the 1960s with the release of Letraset
    sheets containing Lorem Ipsum passages, and more recently with desktop publishing
    software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <h1>Recently added words</h1>

</body>
</html>