{% extends 'base.html' %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <!--      add errors block -->
        {% include 'snippets/form_errors_list.html' %}

        <!--form to signin-->
        <form method="post">{% csrf_token %}
            <p>
                {{ form.username.label }}
                {{ form.username }}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password }}
            </p>
            <button class="btn btn-primary" type="submit">Sign in</button>

        </form>
        <p></p>
        {% include 'snippets/google_login.html' %}
    </div>
{% endblock %}
