{% extends 'base.html' %}

{% block title %}
    Sign up
{% endblock %}

<!--form to signup-->
{% block content %}
    <div class="container">
        <br>
        <!--      add errors block -->
        {% include 'snippets/form_errors_list.html' %}

        <!--     sign up form   -->
        <form method="post"> {% csrf_token %}
                <div class="col">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <br>
                <div class="col">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <br>
                <div class="col">
                    {{ form.password_confirmation.label }}
                    {{ form.password_confirmation }}
                </div>
                <br>
                <div class="col">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
            <br>
            <button class="btn btn-primary"  type="submit">Sign up</button>
        </form>
        <p></p>
        {% include 'snippets/google_login.html' %}
    </div>
{% endblock %}
