{% extends 'base.html' %}

{% block title %}
    Sign up
{% endblock %}

<!--form to signup-->
{% block content %}
    <div class="container">
        <br>
        <!--        show form errors as list-->
        {% if form.errors %}
            <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}

        <!--     sign up form   -->
        <form method="post"> {% csrf_token %}
                <div class="col">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <br>
                <div class="col">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <br>
                <div class="col">
                    {{ form.password_confirmation.label }}
                    {{ form.password_confirmation }}
                </div>
                <br>
                <div class="col">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
            <br>
            <button class="btn btn-primary"  type="submit">Sign up</button>
        </form>
    </div>
{% endblock %}
