{% extends 'base.html' %}

{% load static %}

{% load gTTS %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/training.css' %}">
{% endblock %}

{% block content %}
    <div class="container text-center">
        <span id="direction" data-direction="{{ direction }}" data-id="{{ word.id }}" data-en_word="{{ word.word }}" hidden></span>

        {% csrf_token %}

        {% if direction == 'ru' %}
            <!--      shows en_ru card -->
            {% include 'snippets/en_ru_card.html' %}
        {% else %}
            <!--      shows ru_en card -->
            {% include 'snippets/ru_en_card.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'core/training.js' %}"></script>
{% endblock js %}
