{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/training.css' %}">
{% endblock %}

<!--the title depends on from direction-->
{% block title %}
    {% if direction == 'studying_to_native' %}
        {{ studying_language }}-ru
    {% else %}
        ru-{{ studying_language }}
    {% endif %} excercise
{% endblock title %}


{% block content %}
    <div class="container text-center">
        <span id="direction" data-direction="{{ direction }}" data-id="{{ word.id }}" data-en_word="{{ word.word }}" hidden></span>

        {% csrf_token %}

        {% if direction == 'studying_to_native' %}
            <!--      shows "studying_native" card -->
            {% include 'snippets/studying_native_card.html' %}
        {% else %}
            <!--      shows "native_studying" card -->
            {% include 'snippets/native_studying_card.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'core/training.js' %}"></script>
{% endblock js %}
