{% load gTTS %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>your words</title>
</head>
<body>
    {% if words %}
        <table>
            <th>
                <td>eng</td>
                <td>ru</td>
                <td>sentence</td>
            </th>
            {% for word in words %}
            <tr>
                <td><b>{{ word.word }}</b></td>
                <td>{{ word.translation }}</td>
                <td>{{ word.sentence }}</td>
                <td>
                    <audio src="{% say 'en-us'  word.word %}" controls></audio>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>you have not any words yet:)</p>
    {% endif %}
    <p><a href="/add_word">add</a></p>
</body>
</html>