/* this class is used to remove underscore from links "train words(ru-en)" and "train words(en-ru)" which used as
   buttons in words.html */
.link_as_button {
    text-decoration: none;
}

/* this class is used to configure alignment and position of word and audio tag in one cell of table */
.word_and_audio_div {
    width: fit-content;
    display: flex;
    align-items: center;
}

/* this class is used for "play" button on each word row */
/*.playBtn {
   margin-right: 15px;
}*/

#add_or_search {
  display: flex;
  justify-content: space-between;
}

#add_href {
    width: auto;
    /* margin-right: 30px;*/

}

#searchInput {
   max-width: 80%;
    align-self: center;
}
.playBtn, .playBtnSentence, .dropdown-toggle {
  cursor: pointer;
}
